# Ignore node_modules folder and node_modules/

# Ignore node_modules at any level (including nested)
node_modules

# Ignore the package-lock.json file
package-lock.json

# Ignore .env for secuirty but u need it manaul or new way for dynamic publish and givien secuirely
.env