
/*
 # Placeholder Selectors (%)
 Placeholder selectors are like classes but only meant to be !extended! (not used directly in the HTML).
*/

.w_25 {
    width: 25% !important;
}

.w_50 {
    width: 50% !important;
}

.w_75 {
    width: 75% !important;
}

.w_100 {
    width: 100% !important;
}

/* ################################ */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

body {
    background: linear-gradient(170deg, #272121, transparent);
    overflow: auto;
    /* Allow scrolling if content overflows */
}


.main_cont {
    background: #5f885f;
    padding: 10vh 10vw;
    height: auto;
    /* Allow height to adjust based on content */
    margin: 0px;
    min-height: 80vh;
}

.close_btn {
    max-width: 30px;
    padding: 8px;
    /* Last defined padding value */
    background: red;
    color: white;
    border-radius: 50%;
    /* Last defined border-radius value */
    font-weight: bold;
    font-family: sans-serif;
    /* Last defined font-family */
    max-height: 20px;
    font-size: 0.825rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messages {
    padding: 8px;
    color: black;
    width: 100%;

    .alert {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;

        .message {
            padding: 5px;
        }

        .close_btn {
            align-self: flex-start;
            cursor: pointer;
        }
    }

    .alert.danger {
      background: red;
      color:white;
    }

    .alert.success {
      background: black;
      color: white;
    }

    .alert.info {
      background: gray;
      color: black;
    }

    .alert.warning {
      background: yellow;
      color: black;

    }
}